<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RunGo Logbook</title>
</head>

<body style="text-align: center">
  <h1>RunGo Logbook</h1>
  <div>
    <h2>a simplified strava training log</h2>
    <h3><small><a href=<%= strava_request_access_url %>>Log in to Strava</a></small></h3>
  </div>
</body>

</html>